/* Body Basics 
=========== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Strong-Cyan-shadow: hsl(171, 66%, 39%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Light-Blue-Shadow: hsl(233, 100%, 64%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
    --Transparent-Grayish-Blue: hsla(201, 11%, 66%, 15%);
}

body {
    color: var(--Grayish-Blue);
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* Typography 
=========== */
h1,
h2 {
    color: var(--Dark-Grayish-Blue);
    font-weight: 600;
    line-height: 1.2;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.8rem;
    margin-top: 2em;
}

p {
    margin: 1em auto;
    width: 95%;

}

.buttons {
    display: flex;
    flex-direction: column;
    width: min(100%, 20em);
    margin: 0 auto;
}

.btn {
    display: block;
    color: #fff;
    margin-top: 1.5em;
    text-decoration: none;
}

.btn-ios {
    background: var(--Strong-Cyan);
    border-radius: 100px;
    box-shadow: 0 2px 0 2px var(--Strong-Cyan-shadow);
    padding: .75em 0;
    width: 100%;
}

.btn-ios:hover,
.btn-ios:focus {
    opacity: 65%;
}

.btn-mac {
    background: var(--Light-Blue);
    border-radius: 100px;
    box-shadow: 0 2px 0 2px var(--Light-Blue-Shadow);
    padding: .75em 0;
    width: 100%;
}

.btn-mac:hover,
.btn-mac:focus {
    opacity: 65%;
}

/* Layout 
=========== */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 0;
    width: 95%;
}

.features {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('images/bg-header-mobile.png') no-repeat center;
    background-size: cover;
    min-height: 100vh;

}

.header__content {
    width: 95%;
    margin: 0 auto;
}

.header__title {
    font-size: 2.2rem;
    margin-top: 3rem;
}

/* Section-one */
.desktop-img {
    margin: 3rem 0 1rem;
}

/* Section-two */
.devices-img {
    margin-top: 2rem;
}

/* Section-three */

.section-three h2 {
    margin-top: 1.25em;
}

.blacklist-img {
    margin-top: 3.5rem;
}

.text-img,
.preview-img {
    margin-top: 2rem;
}

.logos {
    margin: 2rem 0 5rem;
}

.logos__img {
    margin-top: 4rem;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background: var(--Transparent-Grayish-Blue);
    margin: 10rem 0 0;
    width: 100%;
    padding: 3em 0 0;
}

.logo-img--sm {
    width: 3rem;
    margin: 0 auto;
}

.nav__list {
    list-style: none;
    padding: 0;
    margin-top: 2em;
}

.nav__item a {
    display: block;
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    margin-top: 1em;
}

.nav__item a:hover,
.nav__item a:focus {
    color: var(--Strong-Cyan);
}

.social-media {
    margin-top: 1rem;
}
.social-media>* {
    font-size: 2rem;
    color: var(--Dark-Grayish-Blue);
}

.social-media>*+* {
    margin-left: 1em;
}

.social-media>*:hover,
.social-media>*:focus {
    color: var(--Strong-Cyan);
}

/* Attributions */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media Query-TABLET 
=====================*/
@media (min-width: 37.5em) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    p {
        max-width: 30rem;
    }

    .buttons {
        flex-direction: row;
        justify-content: space-evenly;
        width: 75%;
    }

    .btn+.btn {
        margin-left: 2rem;
    }

    header {
        background-size: cover;
        background: url('images/bg-header-desktop.png') no-repeat top;
        min-height: auto;
        padding: 3rem 0 0;
    }

    .header__title {
        font-size: 3rem;
    }

    .nav__list {
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        text-align: left;
        width: min(75%, 30rem);
    }

    .logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
    }

    .logos__img {
        margin: 2em 0 0;
    }

    .logos__img+.logos__img {
        margin-left: 3rem;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav__list *+* {
        margin-left: 2em;
    }

    .nav__section {
        display: flex;
        align-items: center;
    }

    .nav__item a {
        margin-top: 0;

    }
}

/* Media Query-DESKTOP 
======================*/
@media (min-width: 80.25em) {

    p {
        max-width: 40rem;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .btn {
        padding: 1em 2.5em;
        width: auto;
    }

    .btn-mac {
        margin-left: 1em;
    }

    .container {
        width: 100%;
    }

    .features {
        flex-direction: row;
        width: 90%;
        align-items: flex-end;
    }


    section {
        margin: 3rem auto 0;
        width: 95%;
    }

    header {
        justify-content: flex-start;
        min-width: 100vw;
        padding: 10rem 0 5rem;
    }

    .section-one {
        width: 100%;
    }

    .section-one--desktop {
        display: flex;
        align-items: center;
        margin-left: -5rem;
        width: 100%;
    }

    .sidebar {
        margin-left: 7rem;
        max-width: 25rem;
        text-align: left;
    }

    .blacklist-img {
        margin-top: 2rem;
    }

    .logos {
        justify-content: space-between;
    }

    .logos__img+.logos__img {
        margin-left: ;
    }

    .footer__content {
        display: flex;
        align-items: flex-end;
        margin: 0 auto 2rem;
        width: 80%;
    }

    .logo-img--sm {
        margin: 0;
    }

    .navbar {
        max-width: 40rem;
    }

    .nav__list {
        margin: 0 0 0 8rem;
        text-align: left;
    }

    .nav__list *+* {
        margin-left: 0;
    }

    .nav__section {
        display: block;
    }

    .nav__section+.nav__section {
        margin-left: 2rem;
    }

    .social-media {
        margin: 0 0 0 auto;
    }
}